<div id="header">
	<div class="logo">
		<a href="/">MARKETロゴ</a>
	</div>
	<div class="link">
		<ul id="nav">
			<li>
				<a href="#">検索窓</a>
			</li>
			<li>
				<a href="#">出品する</a>
			</li>
			<li>
				<a href="#">マイページ</a>
			</li>
		</ul>
	</div>
</div>